/*
ADRESS OF THE ELEMENT:

https://uiverse.io/bhaveshxrawat/dangerous-quail-58
*/


.card {
    width: 250px;
    height: 250px;
    background: #000000;
    transition: background 0.1s ease;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin: 5px;
    z-index: 5;
  }

  .card:hover
  {
    background: #ffffffa1;
    transition: background 1s ease;
    cursor:pointer;
  }
  
  .card h2 {
    position: absolute;
    padding: 10px;
    z-index: 10;
    color: transparent;
    font-size:2.5em;
    border: 40px dotted transparent;
    transition: all 0.2s linear;
  }
  .card:hover h2
  {
    color: rgb(181, 19, 19);
    border-radius: 10px;
    text-decoration: underline;
    font-size: 1.5em;
    border: 1px solid rgba(255, 255, 255, 0.815);
    transition: 
        border 0.05s linear, 
        color 0.2s linear, 
        font-size 0.2s linear,
        text-decoration 0.2s linear;
    
  }
  
  
  .card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgba(146, 44, 44, 0.667), rgb(72, 0, 0));
    height: 130%;
    animation: rotBGimg 16s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .card::after {
    content: '';
    position: absolute;
    background: #000000;
    ;
    inset: 5px;
    border-radius: 15px;
  }  


  .card img
  {
    height: 65%;
    width: 65%;
    opacity: 0.5;
    z-index: 1;
    object-fit: fill;
    border-radius: 8px;
    transition: all 0.5s ease;
  }


  .card:hover img
  {
    height: 95%;
    opacity: 1;
    width: 95%;
    transition: all 0.5s ease;
  }
  

  .card:hover::before {
    background-image: linear-gradient(180deg, rgb(1, 172, 27), rgb(52, 255, 55)) !important;
    animation: rotBGimg 2s linear infinite !important;
    
  }