.profile img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: all 0.3s ease;
}

.profile_name {
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.profile:hover img 
{
    transform: scale(1.1);
    border-color: white !important;
    transition: all 0.3s ease;
}

.profile:hover .profile_name 
{
    color: white !important;
    font-weight: bold;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

#manage-profile-button 
{
    transition: all 0.3s ease;
}

#manage-profile-button:hover 
{
    background-color: transparent !important;
    border-color: white !important;
    background-color: black !important;
    color: white !important;
    transition: all 0.3s ease;
}