body 
{
    background: url("../assets/background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Graphique W01 Regular', sans-serif;
}


.menu-container 
{
    min-width: 400px;
    animation: MenuAnimation 0.3s ease-out;
}

@keyframes MenuAnimation {
    from { opacity: 0; scale: 0.5; }
    to { opacity: 1; scale: 1; }
}


.menu-input::placeholder 
{
    color: rgba(255, 255, 255, 0.75);
}