body {
    background-image: url("../assets/background.jpg");
    background-size: cover;       /* גורם לתמונה להימתח על כל המסך */
    background-repeat: no-repeat; /* מונע מהתמונה להשתכפל אם המסך גדול */
    background-attachment: fixed; /* גורם לרקע להישאר יציב בזמן שגוללים */
    background-position: center;  /* ממקם את התמונה במרכז */
    font-family: 'Graphique W01 Regular', sans-serif;
    font-weight: 400; /* Regular weight */
}


.menu-input::placeholder
{
    color: rgba(255, 255, 255, 0.75);
    opacity: 1;  
}

#forgot-pass-button:hover 
{
    color: blue !important;
    text-decoration: underline !important;
}
