
#mode_selector_container 
{
    transition: all 0.5s ease-in-out;
}

#controll_container 
{
    
    transition: all 1s ease-in-out;
}

#selection_container 
{
    max-height: 60vh;
    min-height: 45vh;
    transition: all 0.5s ease-in-out;
}

#view_container 
{
    max-height: 60vh;
    min-height: 60vh;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.label_item:hover
{
    font-weight: bold;
    background-color: #333;
    transition: all 0.1s ease-in-out;
}

.label_item
{
    font-weight: normal;
    background-color: transparent;
    transition: all 0.1s ease-in-out;
}
